<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express Basic</title>
</head>

<body>
  <table>
    <tbody>
      <tr>
        <td>ID</td>
        <td>&nbsp;:&nbsp;</td>
        <td>
          <%= user.id %>
        </td>
      </tr>
      <tr>
        <td>Name</td>
        <td>&nbsp;:&nbsp;</td>
        <td>
          <%= user.name %>
        </td>
      </tr>
      <tr>
        <td>Job Position</td>
        <td>&nbsp;:&nbsp;</td>
        <td>
          <%= user.job %>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>